# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
* You need to find following details:
    *  A) Rank
    *  B) Name
    *  C) Artist
    *  D) Upload date
    *  E) Views

In [1]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [3]:
#open the link
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [9]:
# Scrapping Sr no
sr=[]
names = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tr/td[1]')

for name in names[:30]:

    sr.append(name.text)
sr

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [17]:
#Scrapping Video Name
video=[]
names = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tr/td[2]')

for name in names[:30]:

    video.append(name.text)
video

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Shape of You"[15]',
 '"Bath Song"[17]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Uptown Funk"[24]',
 '"Learning Colors – Colorful Eggs on a Farm"[25]',
 '"Wheels on the Bus"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Sugar"[34]',
 '"Roar"[35]',
 '"Counting Stars"[36]',
 '"Axel F"[37]',
 '"Sorry"[38]',
 '"Thinking Out Loud"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Dark Horse"[41]',
 '"Faded"[42]',
 '"Girls Like You"[43]',
 '"Let Her Go"[44]',
 '"Waka Waka (This Time for Africa)"[45]',
 '"Perfect"[46]',
 '"Bailando"[47]',
 '"Lean On"[48]',
 '"Humpty the train on a fruits ride"[49]',
 '"Shake It Off"[50]']

In [11]:
#Scrapping Video Artist
uploader=[]
names = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tr/td[3]')

for name in names[:30]:

    uploader.append(name.text)
uploader

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Wiz Khalifa',
 'ChuChu TV',
 'Mark Ronson',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Crazy Frog',
 'Justin Bieber',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Maroon 5',
 'Passenger',
 'Shakira',
 'Ed Sheeran',
 'Enrique Iglesias',
 'Major Lazer',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 'Taylor Swift']

In [12]:
#Scrapping Video Views
views=[]
names = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tr/td[4]')

for name in names[:30]:

    views.append(name.text)
views

['11.74',
 '8.01',
 '6.53',
 '5.85',
 '5.77',
 '5.70',
 '5.02',
 '4.76',
 '4.73',
 '4.63',
 '4.61',
 '4.51',
 '4.14',
 '3.78',
 '3.69',
 '3.68',
 '3.61',
 '3.61',
 '3.52',
 '3.43',
 '3.40',
 '3.37',
 '3.35',
 '3.34',
 '3.31',
 '3.30',
 '3.30',
 '3.29',
 '3.23',
 '3.23']

In [13]:
#Scrapping Video Date
up_date=[]
names = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tr/td[5]')

for name in names[:30]:

    up_date.append(name.text)
up_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'May 2, 2018',
 'April 6, 2015',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'May 24, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'June 16, 2009',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'July 25, 2012',
 'June 4, 2010',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018',
 'August 18, 2014']

In [14]:
#creating dataframe 

DF=pd.DataFrame({'Rank':sr,'Name':video,'Artist':uploader,'Upload Date':up_date,'Views':views})
DF

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.74
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.01
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.53
3,4.,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.85
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.77
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.70
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.02
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.76
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.73
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.63
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.61
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.51
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.14
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.78
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.68
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.61
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.43
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22.,"""Faded""[42]",Alan Walker,"December 3, 2015",3.37
22,23.,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.34
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.31
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.30
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.23
29,30.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

In [18]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
* You need to find following details:
    *  A) Match title (I.e. 1st ODI)
    *  B) Series
    *  C) Place
    *  D) Date
    *  E) Time
* Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [19]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [20]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [21]:
#open the link
url='https://www.bcci.tv/'
driver.get(url)

In [22]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]')
search_btn.click()

In [34]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[1]')
search_btn.click()

In [35]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[2]/div[2]')
search_btn.click()

In [36]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[2]/div/div[1]')
search_btn.click()

In [37]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[2]/div/div[2]/div[3]')
search_btn.click()

In [51]:
#Scrapping ODI matches
views=[]
names = driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]')

for name in names:

    views.append(name.text.split('\n'))
views

[['Bangladesh', 'vs', 'India'],
 ['Bangladesh', 'vs', 'India'],
 ['Bangladesh', 'vs', 'India']]

In [64]:
len(views)

3

In [60]:
#Scrapping ODI matches Dates
up_date=[]
names = driver.find_elements(By.XPATH,'//h5[@class="fix-text"][2]/span')

for name in names:

    up_date.append(name.text)
up_date

['INDIA TOUR OF BANGLADESH ODI SERIES 2022-23',
 'INDIA TOUR OF BANGLADESH ODI SERIES 2022-23',
 'INDIA TOUR OF BANGLADESH ODI SERIES 2022-23']

In [61]:
len(up_date)

3

In [62]:
#Scrapping ODI matches Places
place=[]
names = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')

for name in names:

    place.append(name.text)
place

['1st ODI - Shere Bangla National Stadium, Mirpur, Dhaka',
 '2nd ODI - Shere Bangla National Stadium, Mirpur, Dhaka',
 '3rd ODI - Zahur Ahmed Chowdhury Stadium, Chattogram']

In [65]:
#Scrapping ODI matches Date
date=[]
names = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')

for name in names:

    date.append(name.text.split('\n'))
date

[['4 DEC 2022'], ['7 DEC 2022'], ['10 DEC 2022']]

In [66]:
len(date)

3

In [67]:
#Scrapping ODI matches time
time=[]
names = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')

for name in names:

    time.append(name.text.split('\n'))
time

[['11:30 AM IST'], ['11:30 AM IST'], ['11:30 AM IST']]

In [68]:
#creating dataframe 

DF=pd.DataFrame({'Match Title':views,'Series':up_date,'Place':place,'Date':date,'Time':time})
DF

,Match Title,Series,Place,Date,Time
0,"[Bangladesh, vs, India]",INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"1st ODI - Shere Bangla National Stadium, Mirpu...",[4 DEC 2022],[11:30 AM IST]
1,"[Bangladesh, vs, India]",INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"2nd ODI - Shere Bangla National Stadium, Mirpu...",[7 DEC 2022],[11:30 AM IST]
2,"[Bangladesh, vs, India]",INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"3rd ODI - Zahur Ahmed Chowdhury Stadium, Chatt...",[10 DEC 2022],[11:30 AM IST]

In [69]:
driver.close()

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
* You need to find following details:
    *  A) Name
    *  B) Description
* Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [1]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [3]:
#open the link
url='https://www.guru99.com/'
driver.get(url)

In [4]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
search_btn.click()

In [5]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
search_btn.click()

In [46]:
#Scrapping Exception Names
title=[]
names = driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')

for name in names[:41]:

    title.append(name.text.split(',')[0].split(':')[0])
title

['1. ElementNotVisibleException',
 '2. ElementNotSelectableException',
 '3. NoSuchElementException',
 '4. NoSuchFrameException',
 '5. NoAlertPresentException',
 '6. NoSuchWindowException',
 '7. StaleElementReferenceException',
 '8. SessionNotFoundException',
 '9. TimeoutException',
 '10. WebDriverException',
 '11. ConnectionClosedException',
 '12. ElementClickInterceptedException',
 '13. ElementNotInteractableException',
 '14. ErrorInResponseException',
 '15. ErrorHandler.UnknownServerException',
 '16. ImeActivationFailedException',
 '17. ImeNotAvailableException',
 '18. InsecureCertificateException',
 '19. InvalidArgumentException',
 '20. InvalidCookieDomainException',
 '21. InvalidCoordinatesException',
 '22. InvalidElementStateException',
 '23. InvalidSessionIdException',
 '24. InvalidSwitchToTargetException',
 '25. JavascriptException',
 '26. JsonException',
 '27. NoSuchAttributeException',
 '28. MoveTargetOutOfBoundsException',
 '29. NoSuchContextException',
 '30. NoSuchCookieException',
 '31. NotFoundException',
 '32. RemoteDriverServerException',
 '33. ScreenshotException',
 '34. SessionNotCreatedException',
 '35. UnableToSetCookieException',
 '36. UnexpectedTagNameException',
 '37. UnhandledAlertException',
 '38. UnexpectedAlertPresentException',
 '39. UnknownMethodException',
 '40. UnreachableBrowserException',
 '41. UnsupportedCommandException']

In [30]:
#Scrapping Exception Description
titles=[]
names = driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')

for name in names[:41]:

    titles.append(name.text.split(':')[1])
titles

[' This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 ' This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 ' This Exception occurs if an element could not be found.',
 ' This Exception occurs if the frame target to be switched to does not exist.',
 ' This Exception occurs when you switch to no presented alert.',
 ' This Exception occurs if the window target to be switch does not exist.',
 ' This Selenium exception occurs happens when the web element is detached from the current DOM.',
 ' The WebDriver is acting after you quit the browser.',
 ' Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 ' This Exception takes place when the WebDriver is acting right after you close the browser.',
 ' This type of Exception takes place when there is a disconnection in the driver.',
 ' The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 ' This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 ' This happens while interacting with the Firefox extension or the remote driver server.',
 ' Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 ' This expectation will occur when IME engine activation has failed.',
 ' It takes place when IME support is unavailable.',
 ' Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 ' It occurs when an argument does not belong to the expected type.',
 ' This happens when you try to add a cookie under a different domain instead of current URL.',
 ' This type of Exception matches an interacting operation that is not valid.',
 ' It occurs when command can’t be finished when the element is invalid.',
 ' This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 ' This occurs when the frame or window target to be switched does not exist.',
 ' This issue occurs while executing JavaScript given by the user.',
 ' It occurs when you afford to get the session when the session is not created.',
 ' This kind of Exception occurs when the attribute of an element could not be found.',
 ' It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 ' ContextAware does mobile device testing.',
 ' This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 ' This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 ' This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 ' It is not possible to capture a screen.',
 ' It happens when a new session could not be successfully created.',
 ' This occurs if a driver is unable to set a cookie.',
 ' Happens if a support class did not get a web element as expected.',
 ' This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 ' It occurs when there is the appearance of an unexpected alert.',
 ' This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 ' This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 ' This occurs when remote WebDriver doesn’t send valid commands as expected.']

In [31]:
#creating dataframe 

DF=pd.DataFrame({'NAME':title,'DESCRIPTION':titles})
DF

,NAME,DESCRIPTION
0,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException,This Exception occurs if an element could not...
3,4. NoSuchFrameException,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException,This Exception occurs if the window target to...
6,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
8,9. TimeoutException,Thrown when there is not enough time for a co...
9,10. WebDriverException,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException,This type of Exception takes place when there...
11,12. ElementClickInterceptedException,The command may not be completed as the eleme...
12,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException,It takes place when IME support is unavailable.
17,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException,This type of Exception matches an interacting...
21,22. InvalidElementStateException,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,25. JavascriptException,This issue occurs while executing JavaScript ...
25,26. JsonException,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,29. NoSuchContextException,ContextAware does mobile device testing.
29,30. NoSuchCookieException,This Exception occurs when no cookie matching...
30,31. NotFoundException,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
32,33. ScreenshotException,It is not possible to capture a screen.
33,34. SessionNotCreatedException,It happens when a new session could not be su...
34,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
36,37. UnhandledAlertException,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,39. UnknownMethodException,This Exception happens when the requested com...
39,40. UnreachableBrowserException,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

In [47]:
driver.close()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
* You have to find following details:
    *  A) Rank
    *  B) State
    *  C) GSDP(18-19)- at current prices
    *  D) GSDP(19-20)- at current prices
    *  E) Share(18-19)
    *  F) GDP($ billion)
* Note: - From statisticstimes home page you have to reach to economy page through code.

In [83]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [84]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [85]:
#open the link
url='http://statisticstimes.com/'
driver.get(url)

In [88]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]')
search_btn.click()

In [89]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search_btn.click()

In [91]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search_btn.click()

In [94]:
# Scrapping Sr NO
number=[]
names = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]/table//tbody/tr/td[1]')

for name in names[:33]:

    number.append(name.text)
number

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [95]:
#Scrapping States
state=[]
names = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]/table//tbody/tr/td[2]')

for name in names[:33]:

    state.append(name.text)
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [97]:
#Scrapping GSDP 18-19
GSDP1819=[]
names = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]/table//tbody/tr/td[3]')

for name in names[:33]:

    GSDP1819.append(name.text)
GSDP1819

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [98]:
len(GSDP1819)

33

In [99]:
#Scrapping GSDP 19-20
GSDP1920=[]
names = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]/table//tbody/tr/td[4]')

for name in names[:33]:

    GSDP1920.append(name.text)
GSDP1920

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [100]:
#Scrapping Share 18-19
share1819=[]
names = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]/table//tbody/tr/td[5]')

for name in names[:33]:

    share1819.append(name.text)
share1819

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [101]:
#Scrapping GDP
GDP=[]
names = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]/table//tbody/tr/td[6]')

for name in names[:33]:

    GDP.append(name.text)
GDP

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [102]:
#creating dataframe 

DF=pd.DataFrame({'Rank':number,'State':state,'GSDP(18-19)':GSDP1819,'GSDP(19-20)':GSDP1920,'Share(18-19)':share1819,'GDP($ billion)':GDP})
DF

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [103]:
driver.close()

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
* You have to find the following details:
    *  A) Repository title
    *  B) Repository description
    *  C) Contributors count
    *  D) Language used
* Note: - From the home page you have to click on the trending option from Explore menu through code.

In [49]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [50]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [51]:
#open the link
url='https://github.com/'
driver.get(url)

In [52]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/div/div/div/div/div/main/div[2]/div/div/turbo-frame/tab-container/div[2]/div[1]/a')
search_btn.click()

In [53]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/main/div[2]/div/div/div[3]/div[1]/div[3]/a')
search_btn.click()

In [65]:
#URLs of the trending Github
product_URL = []
start=0
end=1
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a')
    for i in url:
        product_URL.append(i.get_attribute('href'))

In [66]:
len(product_URL)

25

In [67]:
product_URL

['https://github.com/invoke-ai/InvokeAI',
 'https://github.com/apple/ml-stable-diffusion',
 'https://github.com/AleoHQ/snarkOS',
 'https://github.com/misskey-dev/misskey',
 'https://github.com/Klipper3d/klipper',
 'https://github.com/PKUFlyingPig/cs-self-learning',
 'https://github.com/danielgross/whatsapp-gpt',
 'https://github.com/hehonghui/awesome-english-ebooks',
 'https://github.com/Visualize-ML/Book4_Power-of-Matrix',
 'https://github.com/thangchung/go-coffeeshop',
 'https://github.com/monicahq/monica',
 'https://github.com/coolsnowwolf/lede',
 'https://github.com/Bogdanp/awesome-advent-of-code',
 'https://github.com/palera1n/palera1n',
 'https://github.com/t3-oss/create-t3-app',
 'https://github.com/maplecool/easytrojan',
 'https://github.com/openai/openai-quickstart-node',
 'https://github.com/microsoft/PowerToys',
 'https://github.com/evrone/go-clean-template',
 'https://github.com/openzfs/zfs',
 'https://github.com/recloudstream/cloudstream',
 'https://github.com/fspoettel/advent-of-code-rust',
 'https://github.com/getify/You-Dont-Know-JS',
 'https://github.com/openai/openai-quickstart-python',
 'https://github.com/linebender/xilem']

In [68]:
# URLs of the trending Github Description
disc=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        disc.append(price.text)
    except NoSuchElementException:
        disc.append('-')

In [69]:
disc

['This version of Stable Diffusion features a slick WebGUI, an interactive command-line script that combines text2img and img2img functionality in a "dream bot" style interface, and multiple features and other enhancements. For more info, see the website link below.',
 'Stable Diffusion with Core ML on Apple Silicon',
 'A Decentralized Operating System for ZK Applications',
 '🌎 An interplanetary microblogging platform 🚀',
 'Klipper is a 3d-printer firmware',
 '计算机自学指南',
 '-',
 '经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi、pdf格式, 每周更新',
 'Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；本册有，584幅图，81个代码文件，其中18个Streamlit App；状态：清华社五审五校中；Github稿件基本稳定，欢迎提意见，会及时修改',
 '☕ A practical event-driven microservices demo built with Golang. Nomad, Consul Connect, Vault, and Terraform for deployment',
 'Personal CRM. Remember everything about your friends, family and business relationships.',
 "Lean's LEDE source",
 'A collection of awesome resources related to the yearly Advent of Code challenge.',
 'iOS 15.0-15.7.1 (semi-)tethered checkm8 "jailbreak"',
 'The best way to start a full-stack, typesafe Next.js app',
 '世界上最简单的Trojan部署脚本，仅需一行命令即可搭建一台代理服务器',
 'Node.js example app from the OpenAI API quickstart tutorial',
 'Windows system utilities to maximize productivity',
 'Clean Architecture template for Golang services',
 'OpenZFS on Linux and FreeBSD',
 'Android app for streaming and downloading Movies, TV-Series and Anime.',
 '🎄Starter template for solving Advent of Code in Rust.',
 'A book series on JavaScript. @YDKJS on twitter.',
 'Python example app from the OpenAI API quickstart tutorial',
 'An experimental Rust native UI framework']

In [70]:
len(disc)

25

In [71]:
# URLs of the trending Github Titles
title=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/div/main/div/div[1]/div/div/span[1]/a')
        title.append(price.text)
    except NoSuchElementException:
        title.append('-')

In [72]:
len(title)

25

In [73]:
title

['invoke-ai',
 'apple',
 'AleoHQ',
 'misskey-dev',
 'Klipper3d',
 'PKUFlyingPig',
 'danielgross',
 'hehonghui',
 'Visualize-ML',
 'thangchung',
 'monicahq',
 'coolsnowwolf',
 'Bogdanp',
 'palera1n',
 't3-oss',
 'maplecool',
 'openai',
 'microsoft',
 'evrone',
 'openzfs',
 'recloudstream',
 'fspoettel',
 'getify',
 'openai',
 'linebender']

In [74]:
# URLs of the trending Github Contributors count
con=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[4]/div/h2/a/span')
        con.append(price.text)
    except NoSuchElementException:
        con.append('-')

In [75]:
len(con)

25

In [76]:
con

['1',
 '-',
 '44',
 '',
 '',
 '-',
 '-',
 '-',
 '-',
 '-',
 '1',
 '1',
 '938',
 '-',
 '134',
 '-',
 '-',
 '323',
 '12',
 '524',
 '-',
 '3',
 '-',
 '-',
 '7']

In [77]:
# URLs of the trending Github Language
Lan=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/ul/li/a/span[1]')
        Lan.append(price.text)
    except NoSuchElementException:
        Lan.append('-')

In [78]:
len(Lan)

25

In [79]:
Lan

['-',
 'Python',
 'Rust',
 '-',
 '-',
 '-',
 'Go',
 'CSS',
 'Python',
 'Go',
 '-',
 '-',
 '-',
 '-',
 'TypeScript',
 '-',
 '-',
 'C#',
 '-',
 '-',
 '-',
 '-',
 '-',
 'CSS',
 '-']

In [80]:
#creating dataframe 

DF=pd.DataFrame({'Repository title':title,'Repository description':disc,'Contributors count':con,'Language used':Lan,'Repository URL':product_URL})
DF

,Repository title,Repository description,Contributors count,Language used,Repository URL
0,invoke-ai,This version of Stable Diffusion features a sl...,1,-,https://github.com/invoke-ai/InvokeAI
1,apple,Stable Diffusion with Core ML on Apple Silicon,-,Python,https://github.com/apple/ml-stable-diffusion
2,AleoHQ,A Decentralized Operating System for ZK Applic...,44,Rust,https://github.com/AleoHQ/snarkOS
3,misskey-dev,🌎 An interplanetary microblogging platform 🚀,,-,https://github.com/misskey-dev/misskey
4,Klipper3d,Klipper is a 3d-printer firmware,,-,https://github.com/Klipper3d/klipper
5,PKUFlyingPig,计算机自学指南,-,-,https://github.com/PKUFlyingPig/cs-self-learning
6,danielgross,-,-,Go,https://github.com/danielgross/whatsapp-gpt
7,hehonghui,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...",-,CSS,https://github.com/hehonghui/awesome-english-e...
8,Visualize-ML,Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；本册有，584幅图，81个代...,-,Python,https://github.com/Visualize-ML/Book4_Power-of...
9,thangchung,☕ A practical event-driven microservices demo ...,-,Go,https://github.com/thangchung/go-coffeeshop
10,monicahq,Personal CRM. Remember everything about your f...,1,-,https://github.com/monicahq/monica
11,coolsnowwolf,Lean's LEDE source,1,-,https://github.com/coolsnowwolf/lede
12,Bogdanp,A collection of awesome resources related to t...,938,-,https://github.com/Bogdanp/awesome-advent-of-code
13,palera1n,"iOS 15.0-15.7.1 (semi-)tethered checkm8 ""jailb...",-,-,https://github.com/palera1n/palera1n
14,t3-oss,"The best way to start a full-stack, typesafe N...",134,TypeScript,https://github.com/t3-oss/create-t3-app
15,maplecool,世界上最简单的Trojan部署脚本，仅需一行命令即可搭建一台代理服务器,-,-,https://github.com/maplecool/easytrojan
16,openai,Node.js example app from the OpenAI API quicks...,-,-,https://github.com/openai/openai-quickstart-node
17,microsoft,Windows system utilities to maximize productivity,323,C#,https://github.com/microsoft/PowerToys
18,evrone,Clean Architecture template for Golang services,12,-,https://github.com/evrone/go-clean-template
19,openzfs,OpenZFS on Linux and FreeBSD,524,-,https://github.com/openzfs/zfs
20,recloudstream,Android app for streaming and downloading Movi...,-,-,https://github.com/recloudstream/cloudstream
21,fspoettel,🎄Starter template for solving Advent of Code i...,3,-,https://github.com/fspoettel/advent-of-code-rust
22,getify,A book series on JavaScript. @YDKJS on twitter.,-,-,https://github.com/getify/You-Dont-Know-JS
23,openai,Python example app from the OpenAI API quickst...,-,CSS,https://github.com/openai/openai-quickstart-py...
24,linebender,An experimental Rust native UI framework,7,-,https://github.com/linebender/xilem

In [81]:
driver.close()

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
* You have to find the following details:
    *  A) Song name
    *  B) Artist name
    *  C) Last week rank
    *  D) Peak rank
    *  E) Weeks on board
* Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [82]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [83]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [84]:
#open the link
url='https://www.billboard.com/'
driver.get(url)

In [86]:
# click button
search_btn=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[2]/a[1]')
search_btn.click()

In [113]:
# Scrapping top 100 Song Names
songname=[]
names = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')

for name in names[:100]:

    songname.append(name.text.split('\n')[0])
songname

['Midnights',
 'Her Loss',
 'Un Verano Sin Ti',
 "It's Only Me",
 'Dangerous: The Double Album',
 'The Highlights',
 'Thriller',
 "Harry's House",
 "Jupiter's Diary: 7 Day Theory",
 'Christmas',
 'Diamonds',
 'American Heartbreak',
 'Divisive',
 'Feed Tha Streets III',
 'The Family',
 'Renaissance',
 'A Charlie Brown Christmas (Soundtrack)',
 'The Christmas Song',
 'Merry Christmas',
 'Folklore',
 "Red (Taylor's Version)",
 'Sour',
 'Black Panther: Wakanda Forever: Music From And Inspired By',
 'Gemini Rights',
 'Only Built For Infinity Links',
 'I Never Liked You',
 'Diamonds & Rhinestones: The Greatest Hits Collection',
 'Leave The Light On',
 'Lover',
 "Get Rollin'",
 "Growin' Up",
 'Rumours',
 'Beautiful Mind',
 'Curtain Call: The Hits',
 'Certified Lover Boy',
 'Anyways, Life’s Great...',
 'Me / And / Dad',
 'The Best Of Pentatonix Christmas',
 'Greatest Hits',
 'good kid, m.A.A.d city',
 '1989',
 'Evermore',
 'Ultimate Christmas',
 'Smithereens',
 'My Turn',
 'Christmas Classics',
 "Hollywood's Bleeding",
 'Traveller',
 "This One's For You",
 'Goodbye & Good Riddance',
 'Mr. Morale & The Big Steppers',
 'The Andy Williams Christmas Album',
 'Curtain Call 2',
 'Chronicle The 20 Greatest Hits',
 '30',
 'Ctrl',
 'If I Know Me',
 'Indigo',
 '7220',
 'Rudolph The Red-Nosed Reindeer',
 'What You See Is What You Get',
 'Fine Line',
 'Planet Her',
 "Rockin' Around The Christmas Tree: The Decca Christmas Recordings",
 "Takin' It Back",
 '=',
 'reputation',
 'The Melodic Blue',
 "Fearless (Taylor's Version)",
 'Proof',
 'A Christmas Gift For You From Phil Spector',
 'Shoot For The Stars Aim For The Moon',
 'Only The Strong Survive',
 'Saturno',
 'Sonder',
 'Happier Than Ever',
 'YHLQMDLG',
 'This Is What ____ Feels Like (Vol.1-4)',
 'Twelve Carat Toothache',
 'Honestly, Nevermind',
 'DAMN.',
 'Who Is Nardo Wick?',
 'When We All Fall Asleep, Where Do We Go?',
 'Legends Never Die',
 'Starting Over',
 'Take Care',
 'The Best Of Bobby Helms',
 'The Black Parade',
 'Different Man',
 'Encanto (Highlights)',
 'Wrapped In Red',
 'Wasteland',
 'Scorpion',
 'Greatest Hits',
 '2014 Forest Hills Drive',
 'Doo-Wops & Hooligans',
 'Hot Rocks 1964-1971',
 'The Original: Gene Autry Sings Rudolph The Red Nosed Reindeer & Other...',
 'Future Nostalgia',
 'The Hits 2']

In [107]:
#Scrapping top 100 Song Artist
artist=[]
names = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')

for name in names[:100]:

    artist.append(name.text.split('\n')[1])
artist

['Taylor Swift',
 'Drake & 21 Savage',
 'Bad Bunny',
 'Lil Baby',
 'Morgan Wallen',
 'The Weeknd',
 'Michael Jackson',
 'Harry Styles',
 'Rod Wave',
 'Michael Buble',
 'Elton John',
 'Zach Bryan',
 'Disturbed',
 'Roddy Ricch',
 'BrockHampton',
 'Beyonce',
 'Vince Guaraldi Trio',
 'Nat King Cole',
 'Mariah Carey',
 'Taylor Swift',
 'Taylor Swift',
 'Olivia Rodrigo',
 'Soundtrack',
 'Steve Lacy',
 'Quavo & Takeoff',
 'Future',
 'Dolly Parton',
 'Bailey Zimmerman',
 'Taylor Swift',
 'Nickelback',
 'Luke Combs',
 'Fleetwood Mac',
 'Rod Wave',
 'Eminem',
 'Drake',
 'GloRilla',
 'Billy Strings',
 'Pentatonix',
 'Queen',
 'Kendrick Lamar',
 'Taylor Swift',
 'Taylor Swift',
 'Frank Sinatra',
 'Joji',
 'Lil Baby',
 'Bing Crosby',
 'Post Malone',
 'Chris Stapleton',
 'Luke Combs',
 'Juice WRLD',
 'Kendrick Lamar',
 'Andy Williams',
 'Eminem',
 'Creedence Clearwater Revival',
 'Adele',
 'SZA',
 'Morgan Wallen',
 'Chris Brown',
 'Lil Durk',
 'Burl Ives',
 'Luke Combs',
 'Harry Styles',
 'Doja Cat',
 'Brenda Lee',
 'Meghan Trainor',
 'Ed Sheeran',
 'Taylor Swift',
 'Baby Keem',
 'Taylor Swift',
 'BTS',
 'Various Artists',
 'Pop Smoke',
 'Bruce Springsteen',
 'Rauw Alejandro',
 'Dermot Kennedy',
 'Billie Eilish',
 'Bad Bunny',
 'JVKE',
 'Post Malone',
 'Drake',
 'Kendrick Lamar',
 'Nardo Wick',
 'Billie Eilish',
 'Juice WRLD',
 'Chris Stapleton',
 'Drake',
 'Bobby Helms',
 'My Chemical Romance',
 'Kane Brown',
 'Soundtrack',
 'Kelly Clarkson',
 'Brent Faiyaz',
 'Drake',
 '2Pac',
 'J. Cole',
 'Bruno Mars',
 'The Rolling Stones',
 'Gene Autry',
 'Dua Lipa',
 'Prince']

In [109]:
#Scrapping top 100 Song lastweek Rank
lastweek=[]
names = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')

for name in names[:100]:

    lastweek.append(name.text.split('\n')[2])
lastweek

['1',
 '2',
 '3',
 '4',
 '6',
 '7',
 '115',
 '9',
 '-',
 '19',
 '17',
 '13',
 '-',
 '-',
 '-',
 '15',
 '43',
 '77',
 '40',
 '20',
 '24',
 '28',
 '12',
 '14',
 '16',
 '23',
 '-',
 '22',
 '30',
 '-',
 '27',
 '36',
 '21',
 '29',
 '26',
 '11',
 '-',
 '88',
 '38',
 '32',
 '35',
 '44',
 '-',
 '18',
 '31',
 '111',
 '33',
 '62',
 '37',
 '34',
 '45',
 '113',
 '42',
 '60',
 '131',
 '39',
 '48',
 '47',
 '46',
 '154',
 '49',
 '72',
 '51',
 '165',
 '58',
 '63',
 '61',
 '41',
 '79',
 '69',
 '108',
 '54',
 '8',
 '25',
 '-',
 '84',
 '65',
 '75',
 '56',
 '52',
 '64',
 '57',
 '87',
 '68',
 '71',
 '66',
 '-',
 '85',
 '67',
 '106',
 '-',
 '70',
 '76',
 '80',
 '73',
 '109',
 '53',
 '-',
 '78',
 '112']

In [110]:
#Scrapping top 100 Song peakweek Rank
peak=[]
names = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')

for name in names[:100]:

    peak.append(name.text.split('\n')[3])
peak

['1',
 '1',
 '1',
 '1',
 '1',
 '2',
 '1',
 '1',
 '9',
 '1',
 '7',
 '5',
 '13',
 '14',
 '15',
 '1',
 '6',
 '6',
 '3',
 '1',
 '1',
 '1',
 '12',
 '7',
 '7',
 '1',
 '27',
 '9',
 '1',
 '30',
 '2',
 '1',
 '1',
 '1',
 '1',
 '11',
 '37',
 '7',
 '8',
 '2',
 '1',
 '1',
 '12',
 '5',
 '1',
 '18',
 '1',
 '1',
 '4',
 '4',
 '1',
 '14',
 '6',
 '18',
 '1',
 '3',
 '10',
 '1',
 '1',
 '16',
 '1',
 '1',
 '2',
 '17',
 '16',
 '1',
 '1',
 '5',
 '1',
 '1',
 '10',
 '1',
 '8',
 '25',
 '75',
 '1',
 '2',
 '56',
 '2',
 '1',
 '1',
 '16',
 '1',
 '1',
 '3',
 '1',
 '27',
 '2',
 '5',
 '19',
 '3',
 '2',
 '1',
 '3',
 '1',
 '3',
 '4',
 '98',
 '3',
 '54']

In [111]:
#Scrapping top 100 Song Weeks on board
names = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')

for name in names[:100]:

    weeks.append(name.text.split('\n')[4])
weeks

['5',
 '3',
 '29',
 '6',
 '98',
 '93',
 '549',
 '27',
 '1',
 '103',
 '263',
 '27',
 '1',
 '1',
 '1',
 '17',
 '102',
 '68',
 '111',
 '122',
 '54',
 '79',
 '3',
 '19',
 '7',
 '30',
 '1',
 '6',
 '170',
 '1',
 '22',
 '504',
 '15',
 '607',
 '64',
 '2',
 '1',
 '29',
 '518',
 '526',
 '415',
 '102',
 '33',
 '3',
 '143',
 '45',
 '168',
 '376',
 '286',
 '236',
 '28',
 '23',
 '16',
 '617',
 '53',
 '285',
 '217',
 '134',
 '37',
 '51',
 '159',
 '154',
 '74',
 '21',
 '5',
 '56',
 '218',
 '63',
 '72',
 '24',
 '26',
 '125',
 '2',
 '2',
 '1',
 '69',
 '143',
 '9',
 '25',
 '23',
 '293',
 '51',
 '191',
 '124',
 '106',
 '508',
 '14',
 '114',
 '11',
 '4',
 '58',
 '20',
 '230',
 '450',
 '416',
 '599',
 '398',
 '1',
 '138',
 '22']

In [114]:
#creating dataframe 

DF=pd.DataFrame({'Song Name':songname,'Artist Name':artist,'Last Week Rank':lastweek,'Peak Rank':peak,'Weeks on board':weeks})
DF

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on board
0,Midnights,Taylor Swift,1,1,5
1,Her Loss,Drake & 21 Savage,2,1,3
2,Un Verano Sin Ti,Bad Bunny,3,1,29
3,It's Only Me,Lil Baby,4,1,6
4,Dangerous: The Double Album,Morgan Wallen,6,1,98
...,...,...,...,...,...
95,Doo-Wops & Hooligans,Bruno Mars,109,3,599
96,Hot Rocks 1964-1971,The Rolling Stones,53,4,398
97,The Original: Gene Autry Sings Rudolph The Red...,Gene Autry,-,98,1
98,Future Nostalgia,Dua Lipa,78,3,138
99,The Hits 2,Prince,112,54,22

In [115]:
driver.close()

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
* You have to find the following details:
    *  A) Name
    *  B) Designation
    *  C) Company
    *  D) Skills they hire for
    *  E) Location
* Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [136]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [137]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [138]:
#open the link naukri.com
url='https://www.naukri.com/'
driver.get(url)

In [139]:
# entering data Scientist jobs
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job.send_keys('Data Scientist')

In [140]:
# entering location
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [141]:
# click search button
search_btn=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

In [149]:
#URLs of the Each jobs titles
product_URL = []
start=0
end=1
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in url:
        product_URL.append(i.get_attribute('href'))
len(product_URL)

20

In [150]:
product_URL

['https://www.naukri.com/job-listings-analystics-modeling-specialist-accenture-solutions-pvt-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-6-to-8-years-301122914065',
 'https://www.naukri.com/job-listings-data-scientist-tata-business-hub-limited-new-delhi-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-4-to-8-years-101122006226',
 'https://www.naukri.com/job-listings-data-science-engineering-manager-paytm-new-delhi-bangalore-bengaluru-3-to-5-years-021222500074',
 'https://www.naukri.com/job-listings-data-scientist-mindtree-limited-noida-kolkata-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-5-to-10-years-081122012068',
 'https://www.naukri.com/job-listings-data-scientist-ii-smartpaddle-technology-pvt-ltd-bangalore-bengaluru-mumbai-all-areas-india-3-to-6-years-210722606804',
 'https://www.naukri.com/job-listings-python-programming-language-data-science-practitioner-accenture-solutions-pvt-ltd-bangalore-bengaluru-4-to-6-years-301122915332',
 'https://www.naukri.com/job-listings-acn-applied-intelligence-c4di-sustainability-09-accenture-solutions-pvt-ltd-bangalore-bengaluru-4-to-6-years-301122913894',
 'https://www.naukri.com/job-listings-data-scientist-supply-chain-cargill-india-pvt-ltd-bangalore-bengaluru-3-to-5-years-291122915490',
 'https://www.naukri.com/job-listings-data-science-lead-forecasting-cargill-india-pvt-ltd-bangalore-bengaluru-5-to-7-years-291122915436',
 'https://www.naukri.com/job-listings-senior-data-scientist-cargill-india-pvt-ltd-bangalore-bengaluru-5-to-10-years-291122915242',
 'https://www.naukri.com/job-listings-data-scientist-deutsche-bank-bangalore-bengaluru-10-to-15-years-281122001753',
 'https://www.naukri.com/job-listings-lead-data-scientist-caterpillar-india-private-ltd-bangalore-bengaluru-6-to-9-years-011222501078',
 'https://www.naukri.com/job-listings-lead-data-scientist-lowe-s-services-india-private-limited-bangalore-bengaluru-9-to-14-years-011222008903',
 'https://www.naukri.com/job-listings-artificial-intelligence-computer-vision-engineer-machine-learning-vicara-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-ahmedabad-delhi-ncr-bangalore-bengaluru-1-to-3-years-011222912067',
 'https://www.naukri.com/job-listings-junior-data-scientist-hitachi-ltd-bangalore-bengaluru-1-to-4-years-241122501874',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-8-to-12-years-221122905324',
 'https://www.naukri.com/job-listings-senior-data-engineer-boston-consulting-group-bangalore-bengaluru-2-to-5-years-251122502753',
 'https://www.naukri.com/job-listings-senior-data-engineer-boston-consulting-group-bangalore-bengaluru-4-to-6-years-251122502601',
 'https://www.naukri.com/job-listings-data-engineer-boston-consulting-group-bangalore-bengaluru-2-to-4-years-251122502565',
 'https://www.naukri.com/job-listings-sr-data-scientist-accolite-software-india-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-6-to-8-years-181022502086']

In [151]:
# Scrapping Job titles name
name=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[2]/section[1]/div[1]/div[1]/header/h1')
        name.append(price.text)
    except NoSuchElementException:
        name.append('-')

In [152]:
len(name)

20

In [153]:
name

['Analystics & Modeling Specialist',
 'Data Scientist',
 'Data Science - Engineering Manager',
 '-',
 'Data Scientist - II',
 'Python Programming Language Data Science Practitioner',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Data Scientist - Supply Chain',
 'Data Science Lead - Forecasting',
 'Senior Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Artificial Intelligence/Computer Vision Engineer - Machine Learning',
 'Junior Data Scientist',
 'Data Scientist',
 'Senior Data Engineer',
 'Senior Data Engineer',
 'Data Engineer',
 'Sr. Data Scientist']

In [154]:
# Scrapping company names
comp=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[2]/section[1]/div[1]/div[1]/div/a[1]')
        comp.append(price.text)
    except NoSuchElementException:
        comp.append('-')

In [155]:
len(comp)

20

In [156]:
comp

['Accenture',
 'Tata Nexarc',
 'Paytm',
 '-',
 'Bizongo',
 'Accenture',
 'Accenture',
 'Cargill',
 'Cargill',
 'Cargill',
 'Deutsche Bank',
 'Caterpillar Inc',
 "Lowe's",
 'Vicara',
 'Hitachi Ltd.',
 'IBM',
 'Boston Consulting Group',
 'Boston Consulting Group',
 'Boston Consulting Group',
 'Accolite Software India Pvt Ltd']

In [157]:
# Scrapping skill required for job
skill=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[2]/section[2]/div[4]/div[2]')
        skill.append(price.text)
    except NoSuchElementException:
        skill.append('-')

In [158]:
len(skill)

20

In [159]:
skill

['BfsiConsultingMachine learningOpen sourcePython',
 'data miningMachine LearningSQLPython',
 'Computer scienceData analysisMachine learningEngineering ManagerRisk managementData miningBusiness solutionsMonitoringSQLPython',
 '-',
 'Business AnalyticsRisk AnalyticsArtificial IntelligenceCredit RiskData AnalyticsMachine LearningPython',
 'ConsultingMachine learningJavascriptData processingPython',
 'Business processData managementConsultingOracleBusiness operations',
 'Supply Chain',
 'Data Science',
 'data science',
 'Six Sigma Black BeltData AnalyticsSQL',
 'deep learningAutomationData analysisMachine learningRegression analysisMATLABAnalyticsSix sigmaSQLPython',
 'optimizationpricingretail',
 'Python',
 'Computer visiondeep learningImage processingNeural networksArtificial IntelligenceMachine learningSignal processingManager TechnologyFinancial servicesPython',
 'ConsultingPredictive modelingSPSSForecastingAnalytics',
 'advanced analyticssparkAnalyticalConsultingMachine learningPackagingbig dataTechnical supportMonitoring',
 'advanced analyticsData analysisTechnology managementAnalyticalConsultingPackagingbig dataMonitoringTechnical support',
 'advanced analyticsData analysisAnalyticalConsultingPackagingData analyticsSubject matter expertisebig dataMonitoringTechnical support',
 'Machine learningbusiness rulesData analyticsdata visualizationResearchSQLPython']

In [160]:
# Scrapping Job description
desc=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[2]/section[2]/div[1]')
        desc.append(price.text)
    except NoSuchElementException:
        desc.append('-')

In [161]:
len(desc)

20

In [162]:
desc

['This role will be a part of Survey Solutions and Analytics team. The Analytics and Modeling Specialist will be working on developing advanced statistical models, machine learning methods and high-end solutions based on various datasets, helping Accenture improve various business outcome indicators.\n\nKEY RESPONSIBILITIES (BULLETS)\nConceptualize, develop, test and implement various advanced Statistical models on business data.\nIntegrate the outcomes from various analytics techniques to provide insights beyond the obvious, which helps create value for Accenture and its clients.\nLeverage a combination of multiple approaches for project execution, including internal assets, third-party and open source solutions to create unique methods of delivery.\nCollaborate with stakeholders, subject matter experts, client teams and other functional teams globally to understand business problems and conceptualize, design and execute solutions using various data sources and advanced analytics approach.',
 'Roles and Responsibilities\n\nIdentify valuable data sources and automate collection processes\nUndertake preprocessing of structured and unstructured data\nAnalyze large amounts of information to discover trends and patterns\nBuild predictive models and machine-learning algorithms\nPresent information using data visualization techniques\nPropose solutions and strategies to business challenges\nCollaborate with engineering and product development teams\nProven experience as a Data Scientist\nExperience in data mining\nUnderstanding of machine-learning\nKnowledge of R, SQL and Python\nExperience using business intelligence tools (e.g. Tableau) and data frameworks (e.g. Hadoop)\nAnalytical mind and business acumen\n\nDesired Candidate Profile\n\nProven experience as a Data Scientist\nExperience in data mining\nUnderstanding of machine-learning\nKnowledge of R, SQL and Python\nExperience using business intelligence tools (e.g. Tableau) and data frameworks (e.g. Hadoop)\nAnalytical mind and business acumen\nRequired abilities / competencies:\nProblem-solving aptitude\nExcellent communication and presentation skills\nBTech/BE in Computer Science, Engineering or relevant field\n\nExperience\n\n4+ years of experience in working in leading analytics companies or analytic teams of product companies/startups',
 "- We are looking for passionate and skilled data scientists to help build the next gen lending platform for Paytm that will allow access to credit for more than 500M Indian consumers and over 21M merchants.\n- The ideal candidate must be adept at using large data sets to find opportunities for different lending products and developing/validating robust models that can be deployed at scale.\n- Must have strong experience using a variety of data mining/data analysis methods and effective application of different ML techniques, and a proven ability to drive business results with their data-based insights.\n- They must be comfortable working with a wide range of stakeholders and functional teams.\n\nRequirements:\n- Own model governance processes for a suite of lending data science models\n- Refine monitoring and validation framework for machine learning models; conduct ongoing monitoring/validation of various scores and provide feedback to model owners\n- Review new models from an overall model risk perspective, including methodology, performance, stability, explainability, etc\n- Bring model risk management expertise to define approach within a dynamic environment\n- Assess the effectiveness and accuracy of new data sources\n- Collaborate with engineering and product development teams\n- Work with stakeholders throughout the organization to identify opportunities for leveraging company data to drive business solutions.\n\nPreferred Qualification : Bachelor's/Master's Degree in Computer Science or equivalent\n\nSkills that will help you succeed in this role:\n-Background in Statistics, Mathematics and Computer Science\n- 10+ yearspractical experience with machine learning, feature engineering and model deployment\n- Experience in credit risk domain, particularly in a model risk management role\n- Strong programming skills in Python and Spark\n- Knowledge and experience in statistical, data mining and ML techniques: GLM/Regression, Random Forest, Boosting, Neural Networks etc\n- Worked with distributed data/computing tools: Map/Reduce, Hadoop, Hive, Spark, SQL, etc.\n- Ability to explain and present analyses and machine learning concepts to a broad technical audience\n- Willingness to drive projects to completion with minimal guidance.",
 '-',
 'Roles and Responsibilities\nWhat you will work on:\n- Build business analytics solutions to serve various product lines within Bizongo\n- Work with varied data ranging from e-commerce data, financial data, user data, structured and unstructured documents, sensor data\n- Work and drive cutting-edge new initiatives like AI and blockchain\n\nDesired Candidate Profile\nYou’ll be a great fit for Bizongo if you:\n- Have experience with working and deploying state-of-the-art analytics solutions aligned with business goals and designed to drive business impact\n- Have experience working in Data Analytics & ML\n- Can write high-quality, robust, maintainable and production-quality code\n- Are comfortable with the open-end nature of business analytics problems and problems which don’t have perfect solutions\n- Are familiar with deploying analytics solutions on the server-side and creating robust deployments to be used by end-user at scale\n- Good coding skills in Python and familiarity with Java, the know-how of different ML & AI libraries in Python\nExtra brownie points:\n- Have worked on text mining & NLP\n- Have worked with neural networks and similar AI implementations\n- Have worked with financial data and financial risk evaluation\n- Have a good command of DSA',
 'Key Responsibilities : DM-369- Understanding of machine learning algorithms2 Experience in working with graph databases and document DBs3 Hands on experience in writing complex SQL queries4 Hands on experience in building machine learning solutions in Python6 Basic understanding of statistical distributions and probability theory7 Proficiency in general python programming8 Experience in data visualization using opensource libraries in python, javascript and dashboarding tools like superset or powerBI\nTechnical Experience : Experience in DevOps practices for machine learning Experience with building KPIs for customer, product and market insights Experience in Spark based data processing and machine learning Experience in building and deploying solutions on AWS Hands on experience with sagemaker pipelines Hands on experience with airflow\nProfessional Attributes : oDefines success in terms of the entire team oAction oriented and has exceptional attitude and work ethic oStrong Desire to learn and improve technical and interpersonal skills',
 'We are looking for a highly motivated and passionate Data Science Consultant to join Accenture’s Global Centre for Data and Insights. The vision of the Centre is to combine the power of Machine (data & AI) with Human (Knowledge Experts) to solve some of the most complex problems in the industry. As a key member of the team, your role will focus on providing world class insights to leaders and stakeholders across different Functions in Banking.\nWhat you will focus on?\n? Conduct analysis to address critical business challenges faced by client teams working in different markets across the banking value chain to recommend the best data and insights powered solutions\n? Gathering business requirements to create high level business solution framework covering aspects of banking customer journey, policy & regulatory requirements, data driven business process design & Technology Architecture\n? Interface with client teams along with inputs from internal research and data insights teams to develop solutions for identified opportunities across banking LOBs\n? Build analytical use cases in AI and Machine Learning across different banking functions including Operations, Treasury and Finance, Risk assessment, Compliance and Regulatory, Fraud, IT and Technology, Product design and Marketing, AI driven Customer Experience\n? Ability to work with large data sets and present findings / insights to key stakeholders; Data management using databases like SQL, Oracle, S3 buckets and likes of the same\n? Use data driven processes; generate actionable insights and recommend client strategy by interpreting ML model outputs, propensity scores to help prioritize recommendations for clients\n? Build client deliverables with experience in storyboarding and client problem solving\n? Enhance the business solutions with inputs from internal research and data insights teams for identified opportunities across banking LOBs',
 "The Supply Chain Data Scientist will work collaboratively in multidisciplinary teams to define, develop, deploy and sustain complex supply chain digital solutions at scale. In this role, you will deploy predictive and optimization models for digital supply chain products that help deliver significant value to our customers, businesses and functions.\n\n\nKey Accountabilities\n• Design, implement, and deploy forecasting solutions on C3.ai the platform.\n• Continuously seek out best practices and develop skills.\n• Work on multidisciplinary teams of data engineers, software engineers, data scientists, and business subject matter experts to deliver projects on time and within budgets.\n• Translate ambiguous business problems into project charters clearly identifying technical risks and project scope.\n• Take ownership for the entire data science workflow including well defined project scoping, exploratory data analysis, model development, deployment and monitoring.\n• Independently solve moderately complex issues with minimal supervision, while escalating more complex issues to appropriate staff.\n• Other duties as assigned\n\n\nQualifications\nMINIMUM QUALIFICATIONS\n• Bachelor’s degree in data science, computer science, math, engineering or related field or equivalent experience,\n• Confirmed ability to present to non technical audiences\n• Strong mathematical background (linear algebra, calculus, probability and statistics).\n• Experience with JavaScript and prototyping languages such as Python and R.\n• Applied Machine Learning experience (regression analysis, time series, probabilistic models, supervised, classification and unsupervised learning).\n• Minimum of two years of related work experience, Other minimum qualifications may apply\nPREFERRED QUALIFICATIONS\n• Master's degree or PhD in data science, computer science, math, engineering or related field\n• Strong data visualization skills\n• Strong SQL skills\n• Experience working with continuous integration and delivery (CI/CD) pipelines\n• Professional experience applying predictive models for Supply Chain solutions.\n• Experience with timeseries forecasting (such as ARIMA, Prophet, DeepAR, etc.)\n• Experience in software development environment and code management or versioning",
 "Job Purpose and Impact\nIntelligent Supply Chain Forecasting Lead will work collaboratively in multidisciplinary teams to define, develop, deploy and sustain complex supply chain digital solutions at scale. In this role, you will deploy predictive, prescriptive models at scale for digital supply chain products that help deliver significant value to our customers, businesses and functions.\n\n\nKey Accountabilities\nOwn and design statistical model, evaluate differentiating features and deploy forecasting solutions keeping eye on bringing business value for intelligent supply chain applications.\nWork on multidisciplinary teams of product owners, data engineers, software engineers, data scientists, and business subject-matter experts to deploy complex large-scale projects on time.\nTake ownership for the entire supply chain data science workflow including well defined, highly complex project scoping, exploratory data analysis, model development, deployment and monitoring.\nProvide expert thought leadership in your space and work with limited direction, using additional research and interpretation to identify issues or problems. You may provide direction to supporting team members and be a strategic contributor.\nContinuously seek out best practices and develop skills.\nOther duties as assigned.\n\n\nQualifications\nMINIMUM QUALIFICATIONS\n• Bachelor’s degree in Computer science, Statistics, Math OR related field OR Equivalent Experience.\n• Applied Machine Learning experience (regression analysis, time series, probabilistic models, supervised classification and unsupervised learning).\n• Strong mathematical background (linear algebra, calculus, probability and statistics). • Experience with JavaScript and prototyping languages such as Python and R.\n• Minimum of Six years of related work experience.\nPREFERRED QUALIFICATIONS\n• Master's degree or PhD in Computer science / Engineering / Math or Statistics\n• Professional experience applying predictive, prescriptive models for Supply Chain solutions.\n• Experience with timeseries forecasting such as ARIMA, Prophet, DeepAR, etc.",
 'Job Purpose and Impact\nIntelligent Supply Chain Senior Data Scientist will work collaboratively in multidisciplinary teams to define, develop and deploy complex supply chain digital solutions at scale. In this role, you will deploy predictive, prescriptive and optimization models at scale for digital supply chain products that help deliver significant value to our customers, businesses and functions.\n\n\nKey Accountabilities\nDesign, implement, and deploy forecasting, predictive solutions\nContinuously seek out best practices and develop skills.\nContribute to design, and implementation of new features, and deploy predictive models and solutions for intelligent supply chain products at scale.\nWork and consult on multidisciplinary teams of data engineers, software engineers, data scientists, and business subject-matter experts to deliver highly complex large-scale projects on time.\nTake ownership and work with limited supervision for the entire supply chain data science workflow including well defined, highly complex project scoping, exploratory data analysis, model development, deployment and monitoring.\nProvide expert thought leadership in the area of business analytics and work with limited direction, using additional research and interpretation to identify issues or problems.\nYou may provide direction to supporting team members and other duties as assigned\n\n\nMINIMUM QUALIFICATIONS\n• Master’s degree in Management, Computer science, Statistics, Data Science OR related field OR Equivalent Experience.\n• Applied Machine Learning experience (regression analysis, time series, probabilistic models, supervised classification and unsupervised learning).\n• Strong mathematical background (linear algebra, calculus, probability and statistics).\n• Strong coding skills in Python (or similar object-oriented programming language).\n• Minimum of 4 years of related work experience.\nPREFERRED QUALIFICATIONS\n• Five or more years’ experience in Supply chain\n• PhD in Computer science, Artificial Intelligence, Optimization, Operational Research, or Math OR related field.\n• Professional experience applying predictive models for Supply Chain solutions.\n• Experience with timeseries forecasting such as ARIMA, Prophet, DeepAR, etc.',
 'Job Title: Data Scientist / Data Analyst - AVP\nLocation: Bangalore\n\nRole Description\n\nThe Data Scientist / Data Analyst has a proven track record of gaining insights from analysing company data, adept at using large data sets to find opportunities for process improvement and process optimisation and using models to test the effectiveness of different courses of action. With strong experience in using a variety of data mining/data analysis methods, using a variety of data tools, building, and implementing models, using/creating algorithms and creating/running simulations. With proven ability in driving business results with their data-based insights, comfortable working with a wide range of stakeholders and functional teams. With a passion for discovering solutions hidden in large data sets and working with stakeholders to improve business outcomes.\n\nWhat well offer you\n\nAs part of our flexible scheme, here are just some of the benefits that youll enjoy\nBest in class leave policy\nGender neutral parental leaves\n100% reimbursement under child care assistance benefit (gender neutral)\nFlexible working arrangements\nSponsorship for Industry relevant certifications and education\nEmployee Assistance Program for you and your family members\nComprehensive Hospitalization Insurance for you and your dependents\nAccident and Term life Insurance\nComplementary Health screening for 35 yrs. and above\n\nYour skills and experience\n\nStrong problem-solving skills with an emphasis on process analysis and improvement\nExperience using statistical computer languages SQL (expert level), Python etc. to manipulate data and draw insights from large data sets.\nLean Six Sigma black belt, experienced in working in a regulated transactional environment\nCelonis analytical skills for process mining is desirable\nExperience working with and creating data architectures.\nKnowledge of a variety of machine learning techniques (clustering, decision tree learning, artificial neural networks, etc.) and their real-world advantages/drawbacks.\nKnowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests and proper usage, etc.) and experienced with applications of these techniques.\nExcellent written and verbal communication skills for coordinating across teams.\nA drive to learn and master new technologies and techniques.\nExperienced in using SQL to assist in Data analysis\nOverall work experience of 10-15 years',
 'Work closely with business stakeholders to understand their goals determine how Data analytics can be used to achieve those goals.\nShould be able to design data modelling processes, create algorithms develop predictive models to help analyze the data\nDevelop prediction tools which can help Caterpillar customers to gain efficiency and plan the forecast better\nDevelop innovative solutions which enables machine learning and prediction. Also , Work with Cross - functional team to come up with innovative solutions\nAct as a Technical lead in the field of Analytics and Machine Learning.\nRequired skills :\nStrong knowledge in python, SQL\nFully skilled in Visualization tools such as Power Bi , Tableau with ability to utilize it as Automation tool\nShould be able to develop Data Analysis Algorithm\nShould have experience in developing prediction formulas for non-linear data.\nSelf - starter passionate for Data analysis\nCan make use of statistical tools for data prediction. Regression analysis (Linear/Non-linear)\nShould be able to present the data in a meaningful form\nPassion for Innovation and Technology\nSelf-Starter, Should be able to present Ideas to stakeholders\nDesired Skill\nGood understanding of Six Sigma tools\nCan develop Matlab models on the deep learning toolbox\nShould be able to translate Data requirement into analytics\nPositive outlook, strong work ethic, willingness to learn and grow\nExcellent communication skills',

In [166]:
# Scrapping Job locations
loc=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[2]/section[1]/div[1]/div[2]/div[3]/span')
        loc.append(price.text)
    except NoSuchElementException:
        loc.append('-')

In [167]:
len(loc)

20

In [168]:
loc

['Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'New Delhi, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Bangalore/Bengaluru',
 '-',
 'India, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [169]:
#creating dataframe 

DF=pd.DataFrame({'Company':comp,'Designation':name,'Skills':skill,'Location':loc,'Description':desc})
DF

,Company,Designation,Skills,Location,Description
0,Accenture,Analystics & Modeling Specialist,BfsiConsultingMachine learningOpen sourcePython,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",This role will be a part of Survey Solutions a...
1,Tata Nexarc,Data Scientist,data miningMachine LearningSQLPython,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",Roles and Responsibilities\n\nIdentify valuabl...
2,Paytm,Data Science - Engineering Manager,Computer scienceData analysisMachine learningE...,"New Delhi, Bangalore/Bengaluru",- We are looking for passionate and skilled da...
3,-,-,-,-,-
4,Bizongo,Data Scientist - II,Business AnalyticsRisk AnalyticsArtificial Int...,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Roles and Responsibilities\nWhat you will work...
5,Accenture,Python Programming Language Data Science Pract...,ConsultingMachine learningJavascriptData proce...,Bangalore/Bengaluru,Key Responsibilities : DM-369- Understanding o...
6,Accenture,ACN - Applied Intelligence - C4DI - Sustainabi...,Business processData managementConsultingOracl...,Bangalore/Bengaluru,We are looking for a highly motivated and pass...
7,Cargill,Data Scientist - Supply Chain,Supply Chain,Bangalore/Bengaluru,The Supply Chain Data Scientist will work coll...
8,Cargill,Data Science Lead - Forecasting,Data Science,Bangalore/Bengaluru,Job Purpose and Impact\nIntelligent Supply Cha...
9,Cargill,Senior Data Scientist,data science,Bangalore/Bengaluru,Job Purpose and Impact\nIntelligent Supply Cha...
10,Deutsche Bank,Data Scientist,Six Sigma Black BeltData AnalyticsSQL,Bangalore/Bengaluru,Job Title: Data Scientist / Data Analyst - AVP...
11,Caterpillar Inc,Lead Data Scientist,deep learningAutomationData analysisMachine le...,Bangalore/Bengaluru,Work closely with business stakeholders to und...
12,Lowe's,Lead Data Scientist,optimizationpricingretail,Bangalore/Bengaluru,Roles and Responsibilities\nThe primary purpos...
13,Vicara,Artificial Intelligence/Computer Vision Engine...,Python,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",We are looking for an expert in machine learni...
14,Hitachi Ltd.,Junior Data Scientist,Computer visiondeep learningImage processingNe...,Bangalore/Bengaluru,"Research and Develop Innovative Use Cases, Sol..."
15,IBM,Data Scientist,ConsultingPredictive modelingSPSSForecastingAn...,Bangalore/Bengaluru,"As a Data Scientist at IBM, you will help tran..."
16,Boston Consulting Group,Senior Data Engineer,advanced analyticssparkAnalyticalConsultingMac...,Bangalore/Bengaluru,You will collaborate with case teams to gather...
17,Boston Consulting Group,Senior Data Engineer,advanced analyticsData analysisTechnology mana...,Bangalore/Bengaluru,"As a part of BCG s GAMMA team, you will work c..."
18,Boston Consulting Group,Data Engineer,advanced analyticsData analysisAnalyticalConsu...,Bangalore/Bengaluru,As a part of BCG s GAMMA team you will work cl...
19,Accolite Software India Pvt Ltd,Sr. Data Scientist,Machine learningbusiness rulesData analyticsda...,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Having meetings with team members regarding pr...

In [170]:
driver.close()

# 8. Scrape the details of Highest selling novels.
* Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
    *  You have to find the following details:
        *  A) Book name
        *  B) Author name
        *  C) Volumes sold
        *  D) Publisher
        *  E) Genre

In [1]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [3]:
#open the link
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [5]:
# Scrapping Rank
rank=[]
names = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[1]')

for name in names:

    rank.append(name.text)
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100']

In [6]:
# Scrapping  Book Name
book=[]
names = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[2]')

for name in names:

    book.append(name.text)
book

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [7]:
# Scrapping Author Name
Author=[]
names = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[3]')

for name in names:

    Author.append(name.text)
Author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [8]:
# Scrapping Volume sold
volume=[]
names = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[4]')

for name in names:

    volume.append(name.text)
volume

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [9]:
# Scrapping Publisher
publisher=[]
names = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[5]')

for name in names:

    publisher.append(name.text)
publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [10]:
# Scrapping Genre
genre=[]
names = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[6]')

for name in names:

    genre.append(name.text)
genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [11]:
#creating dataframe 

DF=pd.DataFrame({'Rank':rank,'Book Name':book,'Author Name':Author,'Volume Sold':volume,'Publisher':publisher,'Genre':genre})
DF

,Rank,Book Name,Author Name,Volume Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [12]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
* You have to find the following details:
    *  A) Name
    *  B) Year span
    *  C) Genre
    *  D) Run time
    *  E) Ratings
    *  F) Votes

In [171]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [172]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [173]:
#open the link
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [189]:
#Scrapping Series Names
ser=[]
names = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')

for name in names:

    ser.append(name.text)
ser

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [190]:
#Scrapping Series Years
year=[]
names = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')

for name in names:

    year.append(name.text)
year

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [191]:
#Scrapping Series genre
gen=[]
names = driver.find_elements(By.XPATH,'//span[@class="genre"]')

for name in names:

    gen.append(name.text)
gen

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [192]:
#Scrapping Series runtime
watchtime=[]
names = driver.find_elements(By.XPATH,'//span[@class="runtime"]')

for name in names:

    watchtime.append(name.text)
watchtime

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [194]:
#Scrapping Series Upvote
vote=[]
names = driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div/p[4]')

for name in names:

    vote.append(name.text.split(':')[1])
vote

[' 2,088,924',
 ' 1,178,572',
 ' 988,183',
 ' 292,726',
 ' 251,866',
 ' 302,810',
 ' 145,458',
 ' 308,683',
 ' 346,249',
 ' 431,892',
 ' 475,773',
 ' 806,770',
 ' 545,252',
 ' 923,879',
 ' 531,414',
 ' 167,979',
 ' 322,132',
 ' 319,457',
 ' 1,871,188',
 ' 324,197',
 ' 445,402',
 ' 535,083',
 ' 152,203',
 ' 148,854',
 ' 407,340',
 ' 225,360',
 ' 421,737',
 ' 440,680',
 ' 992,154',
 ' 682,835',
 ' 410,661',
 ' 387,531',
 ' 136,530',
 ' 124,399',
 ' 175,374',
 ' 154,957',
 ' 230,892',
 ' 504,756',
 ' 215,122',
 ' 430,364',
 ' 518,889',
 ' 64,074',
 ' 190,662',
 ' 504,499',
 ' 384,170',
 ' 79,487',
 ' 280,246',
 ' 243,264',
 ' 224,941',
 ' 217,622',
 ' 239,993',
 ' 725,220',
 ' 130,339',
 ' 339,697',
 ' 249,602',
 ' 553,256',
 ' 545,779',
 ' 464,646',
 ' 61,267',
 ' 111,521',
 ' 341,920',
 ' 74,385',
 ' 105,221',
 ' 236,710',
 ' 95,676',
 ' 95,407',
 ' 51,093',
 ' 148,957',
 ' 369,459',
 ' 315,873',
 ' 107,016',
 ' 248,108',
 ' 570,052',
 ' 105,382',
 ' 129,577',
 ' 524,532',
 ' 108,684',
 ' 236,393',
 ' 89,370',
 ' 22,857',
 ' 144,319',
 ' 160,518',
 ' 131,681',
 ' 37,572',
 ' 288,462',
 ' 120,460',
 ' 131,784',
 ' 74,301',
 ' 108,448',
 ' 199,432',
 ' 29,093',
 ' 185,655',
 ' 216,070',
 ' 748,010',
 ' 68,649',
 ' 50,161',
 ' 61,407',
 ' 198,149',
 ' 41,563',
 ' 245,055']

In [199]:
#Scrapping Series Ratings
rating=[]
names = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]')

for name in names:

    rating.append(name.text)
rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8.1',
 '8.7',
 '8.7',
 '7.3',
 '8.4',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.3',
 '7.2',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.9',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [200]:
#creating dataframe 

DF=pd.DataFrame({'Name':ser,'Year Span':year,'Genre':gen,'Run Time':watchtime,'Ratings':rating,'Votes':vote})
DF

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,088,924"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,178,572"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"988,183"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,726"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"251,866"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,161"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,407"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,149"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,563"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"245,055"

In [201]:
driver.close()

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
* You have to find the following details:
    *  A) Dataset name
    *  B) Data type
    *  C) Task
    *  D) Attribute type
    *  E) No of instances
    *  F) No of attribute
    *  G) Year
* Note: - from the home page you have to go to the ShowAllDataset page through code.

In [248]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [249]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [250]:
#open the link
url='https://archive.ics.uci.edu/'
driver.get(url)

In [253]:
#URLs of the Datasets
product_URL = []
start=0
end=1
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//td[@valign="middle"]//table//tbody//tr/td//span//a')
    for i in url:
        product_URL.append(i.get_attribute('href'))
len(product_URL)

24

In [254]:
product_URL

['https://archive.ics.uci.edu/ml/datasets/Average+Localization+Error+%28ALE%29+in+sensor+node+localization+process+in+WSNs',
 'https://archive.ics.uci.edu/ml/datasets/9mers+from+cullpdb',
 'https://archive.ics.uci.edu/ml/datasets/TamilSentiMix',
 'https://archive.ics.uci.edu/ml/datasets/Accelerometer',
 'https://archive.ics.uci.edu/ml/datasets/Synchronous+Machine+Data+Set',
 'https://archive.ics.uci.edu/ml/datasets/Synchronous+Machine+Data+Set',
 'https://archive.ics.uci.edu/ml/datasets/Pedal+Me+Bicycle+Deliveries',
 'https://archive.ics.uci.edu/ml/datasets/Wikipedia+Math+Essentials',
 'https://archive.ics.uci.edu/ml/datasets/Wikipedia+Math+Essentials',
 'https://archive.ics.uci.edu/ml/datasets/Turkish+Headlines+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Secondary+Mushroom+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city',
 'https://archive.ics.uci.edu/ml/datasets/Iris',
 'https://archive.ics.uci.edu/ml/datasets/Adult',
 'https://archive.ics.uci.edu/ml/datasets/Dry+Bean+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Wine',
 'https://archive.ics.uci.edu/ml/datasets/Heart+Disease',
 'https://archive.ics.uci.edu/ml/datasets/Wine+Quality',
 'https://archive.ics.uci.edu/ml/datasets/Rice+%28Cammeo+and+Osmancik%29',
 'https://archive.ics.uci.edu/ml/datasets/Bank+Marketing',
 'https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29',
 'https://archive.ics.uci.edu/ml/datasets/Car+Evaluation',
 'https://archive.ics.uci.edu/ml/datasets/Raisin+Dataset',
 'https://archive.ics.uci.edu/ml/datasets/Abalone']

In [255]:
# Scrapping Dataset Names
dataname=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[1]/tbody/tr/td[1]/p[1]/span[1]/b')
        dataname.append(price.text)
    except NoSuchElementException:
        dataname.append('-')

In [256]:
dataname

['Average Localization Error (ALE) in sensor node localization process in WSNs Data Set',
 '9mers from cullpdb Data Set',
 'TamilSentiMix Data Set',
 'Accelerometer Data Set',
 'Synchronous Machine Data Set Data Set',
 'Synchronous Machine Data Set Data Set',
 'Pedal Me Bicycle Deliveries Data Set',
 'Wikipedia Math Essentials Data Set',
 'Wikipedia Math Essentials Data Set',
 'Turkish Headlines Dataset Data Set',
 'Secondary Mushroom Dataset Data Set',
 'Power consumption of Tetouan city Data Set',
 'Iris Data Set',
 'Adult Data Set',
 'Dry Bean Dataset Data Set',
 'Wine Data Set',
 'Heart Disease Data Set',
 'Wine Quality Data Set',
 'Rice (Cammeo and Osmancik) Data Set',
 'Bank Marketing Data Set',
 'Breast Cancer Wisconsin (Diagnostic) Data Set',
 'Car Evaluation Data Set',
 'Raisin Dataset Data Set',
 'Abalone Data Set']

In [257]:
# Scrapping Dataset datatypes
datatype=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p')
        datatype.append(price.text)
    except NoSuchElementException:
        datatype.append('-')

In [258]:
datatype

['Multivariate',
 'Sequential',
 'N/A',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Time-Series',
 'Time-Series',
 'Time-Series',
 'Text',
 'Univariate',
 'Multivariate, Time-Series',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate']

In [261]:
# # Scrapping Dataset task
task=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p')
        task.append(price.text)
    except NoSuchElementException:
        task.append('-')

In [262]:
task

['Regression',
 'Classification, Regression',
 'Classification',
 'Classification, Regression',
 'Regression',
 'Regression',
 'Regression',
 'Regression',
 'Regression',
 'Classification, Clustering',
 'Classification',
 'Regression',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification']

In [263]:
# # Scrapping Dataset Attribute type
att=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p')
        att.append(price.text)
    except NoSuchElementException:
        att.append('-')

In [264]:
att

['Real',
 'Real',
 'N/A',
 'Integer, Real',
 'Real',
 'Real',
 'Real',
 'Real',
 'Real',
 'N/A',
 'Real',
 'Integer, Real',
 'Real',
 'Categorical, Integer',
 'Integer, Real',
 'Integer, Real',
 'Categorical, Integer, Real',
 'Real',
 'Real',
 'Real',
 'Real',
 'Categorical',
 'Integer, Real',
 'Categorical, Integer, Real']

In [265]:
# Scrapping Dataset No of instances
ins=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p')
        ins.append(price.text)
    except NoSuchElementException:
        ins.append('-')

In [266]:
ins

['107',
 '158716',
 '15744',
 '153000',
 '557',
 '557',
 '36',
 '731',
 '731',
 '4200',
 '61069',
 '52417',
 '150',
 '48842',
 '13611',
 '178',
 '303',
 '4898',
 '3810',
 '45211',
 '569',
 '1728',
 '900',
 '4177']

In [267]:
# Scrapping Dataset No of Attribute
attno=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p')
        attno.append(price.text)
    except NoSuchElementException:
        attno.append('-')

In [268]:
attno

['6',
 '4',
 'N/A',
 '5',
 '5',
 '5',
 '15',
 '1068',
 '1068',
 '7',
 '21',
 '9',
 '4',
 '14',
 '17',
 '13',
 '75',
 '12',
 '8',
 '17',
 '32',
 '6',
 '8',
 '8']

In [269]:
# Scrapping Dataset date
iyear=[]
for i in product_URL:
    driver.get(i)
    time.sleep(5)
    try:
        price=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p')
        iyear.append(price.text)
    except NoSuchElementException:
        iyear.append('-')

In [270]:
iyear

['2021-06-05',
 '2021-05-25',
 '2021-05-18',
 '2021-05-02',
 '2021-04-21',
 '2021-04-21',
 '2021-04-20',
 '2021-04-20',
 '2021-04-20',
 '2021-04-14',
 '2021-04-11',
 '2021-04-03',
 '1988-07-01',
 '1996-05-01',
 '2020-09-14',
 '1991-07-01',
 '1988-07-01',
 '2009-10-07',
 '2019-10-06',
 '2012-02-14',
 '1995-11-01',
 '1997-06-01',
 '2021-04-01',
 '1995-12-01']

In [272]:
#creating dataframe 

DF=pd.DataFrame({'Dataset Name':dataname,'Data type':datatype,'Task':task,'Attribute Type':att,'No of Instance':ins,'No of Attribute':attno,'Year':iyear,'Dataset URL':product_URL})
DF

,Dataset Name,Data type,Task,Attribute Type,No of Instance,No of Attribute,Year,Dataset URL
0,Average Localization Error (ALE) in sensor nod...,Multivariate,Regression,Real,107,6,2021-06-05,https://archive.ics.uci.edu/ml/datasets/Averag...
1,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021-05-25,https://archive.ics.uci.edu/ml/datasets/9mers+...
2,TamilSentiMix Data Set,N/A,Classification,N/A,15744,N/A,2021-05-18,https://archive.ics.uci.edu/ml/datasets/TamilS...
3,Accelerometer Data Set,Multivariate,"Classification, Regression","Integer, Real",153000,5,2021-05-02,https://archive.ics.uci.edu/ml/datasets/Accele...
4,Synchronous Machine Data Set Data Set,Multivariate,Regression,Real,557,5,2021-04-21,https://archive.ics.uci.edu/ml/datasets/Synchr...
5,Synchronous Machine Data Set Data Set,Multivariate,Regression,Real,557,5,2021-04-21,https://archive.ics.uci.edu/ml/datasets/Synchr...
6,Pedal Me Bicycle Deliveries Data Set,Time-Series,Regression,Real,36,15,2021-04-20,https://archive.ics.uci.edu/ml/datasets/Pedal+...
7,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20,https://archive.ics.uci.edu/ml/datasets/Wikipe...
8,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20,https://archive.ics.uci.edu/ml/datasets/Wikipe...
9,Turkish Headlines Dataset Data Set,Text,"Classification, Clustering",N/A,4200,7,2021-04-14,https://archive.ics.uci.edu/ml/datasets/Turkis...
10,Secondary Mushroom Dataset Data Set,Univariate,Classification,Real,61069,21,2021-04-11,https://archive.ics.uci.edu/ml/datasets/Second...
11,Power consumption of Tetouan city Data Set,"Multivariate, Time-Series",Regression,"Integer, Real",52417,9,2021-04-03,https://archive.ics.uci.edu/ml/datasets/Power+...
12,Iris Data Set,Multivariate,Classification,Real,150,4,1988-07-01,https://archive.ics.uci.edu/ml/datasets/Iris
13,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01,https://archive.ics.uci.edu/ml/datasets/Adult
14,Dry Bean Dataset Data Set,Multivariate,Classification,"Integer, Real",13611,17,2020-09-14,https://archive.ics.uci.edu/ml/datasets/Dry+Be...
15,Wine Data Set,Multivariate,Classification,"Integer, Real",178,13,1991-07-01,https://archive.ics.uci.edu/ml/datasets/Wine
16,Heart Disease Data Set,Multivariate,Classification,"Categorical, Integer, Real",303,75,1988-07-01,https://archive.ics.uci.edu/ml/datasets/Heart+...
17,Wine Quality Data Set,Multivariate,"Classification, Regression",Real,4898,12,2009-10-07,https://archive.ics.uci.edu/ml/datasets/Wine+Q...
18,Rice (Cammeo and Osmancik) Data Set,Multivariate,Classification,Real,3810,8,2019-10-06,https://archive.ics.uci.edu/ml/datasets/Rice+%...
19,Bank Marketing Data Set,Multivariate,Classification,Real,45211,17,2012-02-14,https://archive.ics.uci.edu/ml/datasets/Bank+M...
20,Breast Cancer Wisconsin (Diagnostic) Data Set,Multivariate,Classification,Real,569,32,1995-11-01,https://archive.ics.uci.edu/ml/datasets/Breast...
21,Car Evaluation Data Set,Multivariate,Classification,Categorical,1728,6,1997-06-01,https://archive.ics.uci.edu/ml/datasets/Car+Ev...
22,Raisin Dataset Data Set,Multivariate,Classification,"Integer, Real",900,8,2021-04-01,https://archive.ics.uci.edu/ml/datasets/Raisin...
23,Abalone Data Set,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01,https://archive.ics.uci.edu/ml/datasets/Abalone

In [273]:
driver.close()